@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1f1f1f;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.2rem;
}

.container{
    border: 3px solid black;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 12px 0 rgba(255, 255, 255, 0.2);
}

.left-side{
    border-right: 1px solid black;
    /*background: #aaa;*/
    background: #eee;
    width: 50%;
    height: 100%;
    padding: 2%;
}

.profile-pic{
    border: 2px solid black;
    border-radius: 50%;
    width: 30%;
    height: 35%;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name-label{
    font-size: 1.7rem;
    font-weight: 800;
    position: absolute;
    left: 24%;
    top: 25%;
}

.description{
    margin: 10px;
    font-size: 1rem;
    line-height: 25px;
}

.social-media{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.fab{
    cursor: pointer;
    transition: text-shadow .3s ease-in-out;
}
.fab:nth-child(1):hover,
.fab:nth-child(2):hover,
.fab:nth-child(3):hover{
    text-shadow: 0px 0px 5px #999;
}

.fa-facebook-f{
    color: #3b5998;
}
.fa-instagram{
    color: #dd2a7b;
}
.fa-twitter{
    color: #08a0e9;
}

.right-side{
    border-left: 1px solid black;
    /*background: #ccc;*/
    background: #eee;
    width: 50%;
    height: 100%;
    padding: 2%;
}

.followers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-row-gap: 2px;
}

#followers-number, 
#following-number{
    font-weight: 700;
}
#followers,
#following{
    font-size: .9rem;
}

.slideshow{
    position: relative;
    margin: 1em auto .5em auto;
    max-width: 70%;
    height: 80%;
    box-shadow: 0 0 5px #ddd;
}

.slideshow-imgs{
    width: 100%;
    height: 100%;
}

.slideshow-imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.arrow{
    display: inline;
}

.prev,
.arrow{
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -1em .3em 0 .3em;
    padding: .5em;
    font-weight: bold;
    font-size: 1.2em;
    transition: .3s ease;
    user-select: none;
}

.next{
    right: 0;
}

.prev:hover,
.next:hover{
    text-shadow: 0px 0px 5px #ddd;
}

.slidshow-num{
    position: absolute;
    bottom: -1em;
    left: 26%;
    text-align: center;
}

.dot{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background: rgba(204, 204, 204, 0.8);
    border-radius: 50%;
}

.dot:hover,
.active{
    /*background: rgb(204, 204, 204);*/
    background: #131313;
    height: 12px;
    width: 12px;
}
.dot:hover{
    box-shadow: 0 0 5px #000;
}